.container{
   border: solid black 1px;
   width: 80%;
   margin: auto;
   min-height: 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.container div{
   background-color: aqua;
   margin: 10px;
   height: 70px;
}