form, div{
   width: 700px;
   min-height: 200px;
   border: solid black 2px;
   margin: 20px auto;
   padding: 10px;
}

.but1{
   padding: 10px;
   background-color: aqua;
   cursor: pointer;
   border-radius: 20%;
}

.but1:hover{
   background-color:bisque;
}